@model ContactViewModel
@{ViewBag.Title = "Contact";}

<h2>Contact Us</h2>

@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.LabelFor(w=>w.ContactName)
        @Html.TextBoxFor(w => w.ContactName, new { @class = "form-control", placeholder = "Name" })
    </div>
    <div class="form-group">
        @Html.LabelFor(w => w.EmailAddress)
        @Html.TextBoxFor(w => w.EmailAddress, new { @class = "form-control", placeholder = "Email Address" })
    </div>

    @Html.ValidationSummary()
    
    <button type="submit" class="btn btn-primary">Submit</button>
    
}